<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu</title>
</head>
<body>
   <nav> <%- include('./partials/nav') %> </nav>
  <h1> <%= category %> </h1>
  <ul>
    <% menuItems.forEach((item) => { %>
    <li> <strong> <%= item.name %>: </strong> <%= item.details %> <i> <br><%= item.rating %>/5 stars </i> <br> $<%= item.price %>  </li>
    <% }) %>
  </ul>
</body>
</html>
