<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= restaurant.name %>
  </title>
</head>

<body>
  <%- include('./partials/nav') %>
    <h1>
      <%= restaurant.name %> Home Page
    </h1>
    <% if (restaurant.isOpen) { %>
      <h3> Yes, we're open! </h3>
      <% } else { %>
        <h3> Sorry, we're closed.</h3>
        <% } %>
          <p>
            <%= restaurant.address %>
          </p>
          <p>
            <%= restaurant.phone %>
          </p>
</body>

</html>
